Scraper_Data2_Meta.json
{
  "name": "Scraper Data2 Meta",
  "nodes": [
    {
      "parameters": {
        "html": "={{ $json.div }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        100,
        130
      ],
      "id": "aee9baa6-793e-4e26-8722-5873558e0fc0",
      "name": "HTML TO MARK Pos 1"
    },
    {
      "parameters": {
        "html": "={{ $json.div }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        100,
        330
      ],
      "id": "c5993f96-c3f4-4d21-a554-c715928de21b",
      "name": "HTML TO MARK Pos 2"
    },
    {
      "parameters": {
        "html": "={{ $json.div }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        100,
        530
      ],
      "id": "490d4f27-9a1f-4891-9bcb-9f2ca17d4351",
      "name": "HTML TO MARK Pos 3"
    },
    {
      "parameters": {
        "html": "={{ $json.div }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        100,
        730
      ],
      "id": "68f54af9-9f3c-4acd-a1c5-60e9269541ef",
      "name": "HTML TO MARK Pos 4"
    },
    {
      "parameters": {
        "html": "={{ $json.div }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        100,
        930
      ],
      "id": "50e00420-42fc-4e46-bd27-f51b613a96a5",
      "name": "HTML TO MARK Pos 5"
    },
    {
      "parameters": {
        "jsCode": "// ===== วิธีที่ 3: หา div แบบ nested-safe =====\nfunction findDivAfterH2(html) {\n  // หา position ของ h2\n  const h2Pattern = /<h2[^>]*>Top Heroes<\\/h2>/;\n  const h2Match = html.match(h2Pattern);\n  \n  if (!h2Match) return null;\n  \n  // เริ่มหาจากตำแหน่งหลัง h2\n  let startIndex = h2Match.index + h2Match[0].length;\n  \n  // ข้าม whitespace\n  while (startIndex < html.length && /\\s/.test(html[startIndex])) {\n    startIndex++;\n  }\n  \n  // ตรวจสอบว่าตำแหน่งถัดไปเป็น <div หรือไม่\n  if (!html.substring(startIndex).startsWith('<div')) {\n    return null;\n  }\n  \n  // หา closing tag ของ div ที่ match\n  let divCount = 0;\n  let currentIndex = startIndex;\n  let divEnd = -1;\n  \n  while (currentIndex < html.length) {\n    if (html.substring(currentIndex, currentIndex + 4) === '<div') {\n      divCount++;\n      // ข้ามไปหลัง >\n      while (currentIndex < html.length && html[currentIndex] !== '>') {\n        currentIndex++;\n      }\n      currentIndex++;\n    } else if (html.substring(currentIndex, currentIndex + 6) === '</div>') {\n      divCount--;\n      if (divCount === 0) {\n        divEnd = currentIndex + 6;\n        break;\n      }\n      currentIndex += 6;\n    } else {\n      currentIndex++;\n    }\n  }\n  \n  if (divEnd === -1) return null;\n  \n  return html.substring(startIndex, divEnd);\n}\n\nconst htmlString3 = $input.first().json.data.html;\nconst extractedDiv = findDivAfterH2(htmlString3);\n\nif (extractedDiv) {\n  return [{\n    json: {\n      div: extractedDiv,\n      posion: 'Carry',\n      ref: $input.first().json.data.url,\n      success: true\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        130
      ],
      "id": "7150dd33-7344-4efa-a071-52d48c24353b",
      "name": "Find Importance part Pos 1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:7890/scrape",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "https://dota2protracker.com/meta?mmr=7000&position=pos%2B1&period=8"
            },
            {
              "name": "method",
              "value": "auto"
            },
            {
              "name": "include_html",
              "value": "true"
            },
            {
              "name": "include_links",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        130
      ],
      "id": "aca92b2c-9a5b-49ee-911d-e5bb0d44a8da",
      "name": "Pos 1"
    },
    {
      "parameters": {
        "jsCode": "// ===== วิธีที่ 3: หา div แบบ nested-safe =====\nfunction findDivAfterH2(html) {\n  // หา position ของ h2\n  const h2Pattern = /<h2[^>]*>Top Heroes<\\/h2>/;\n  const h2Match = html.match(h2Pattern);\n  \n  if (!h2Match) return null;\n  \n  // เริ่มหาจากตำแหน่งหลัง h2\n  let startIndex = h2Match.index + h2Match[0].length;\n  \n  // ข้าม whitespace\n  while (startIndex < html.length && /\\s/.test(html[startIndex])) {\n    startIndex++;\n  }\n  \n  // ตรวจสอบว่าตำแหน่งถัดไปเป็น <div หรือไม่\n  if (!html.substring(startIndex).startsWith('<div')) {\n    return null;\n  }\n  \n  // หา closing tag ของ div ที่ match\n  let divCount = 0;\n  let currentIndex = startIndex;\n  let divEnd = -1;\n  \n  while (currentIndex < html.length) {\n    if (html.substring(currentIndex, currentIndex + 4) === '<div') {\n      divCount++;\n      // ข้ามไปหลัง >\n      while (currentIndex < html.length && html[currentIndex] !== '>') {\n        currentIndex++;\n      }\n      currentIndex++;\n    } else if (html.substring(currentIndex, currentIndex + 6) === '</div>') {\n      divCount--;\n      if (divCount === 0) {\n        divEnd = currentIndex + 6;\n        break;\n      }\n      currentIndex += 6;\n    } else {\n      currentIndex++;\n    }\n  }\n  \n  if (divEnd === -1) return null;\n  \n  return html.substring(startIndex, divEnd);\n}\n\nconst htmlString3 = $input.first().json.data.html;\nconst extractedDiv = findDivAfterH2(htmlString3);\n\nif (extractedDiv) {\n  return [{\n    json: {\n      div: extractedDiv,\n      posion: 'Midlane',\n      ref: $input.first().json.data.url,\n      success: true\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        330
      ],
      "id": "1dc2027f-84b1-4c2b-a4e5-8f9c1c71abf5",
      "name": "Find Importance part Pos 2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:7890/scrape",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "https://dota2protracker.com/meta?mmr=7000&position=pos%2B2&period=8"
            },
            {
              "name": "method",
              "value": "auto"
            },
            {
              "name": "include_html",
              "value": "true"
            },
            {
              "name": "include_links",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        330
      ],
      "id": "526931db-7100-4575-9cf6-db269d12efa5",
      "name": "Pos 2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:7890/scrape",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "https://dota2protracker.com/meta?mmr=7000&position=pos%2B3&period=8"
            },
            {
              "name": "method",
              "value": "auto"
            },
            {
              "name": "include_html",
              "value": "true"
            },
            {
              "name": "include_links",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        530
      ],
      "id": "fa6481d7-1315-4b74-a83f-dc4231069ad6",
      "name": "Pos 3"
    },
    {
      "parameters": {
        "jsCode": "// ===== วิธีที่ 3: หา div แบบ nested-safe =====\nfunction findDivAfterH2(html) {\n  // หา position ของ h2\n  const h2Pattern = /<h2[^>]*>Top Heroes<\\/h2>/;\n  const h2Match = html.match(h2Pattern);\n  \n  if (!h2Match) return null;\n  \n  // เริ่มหาจากตำแหน่งหลัง h2\n  let startIndex = h2Match.index + h2Match[0].length;\n  \n  // ข้าม whitespace\n  while (startIndex < html.length && /\\s/.test(html[startIndex])) {\n    startIndex++;\n  }\n  \n  // ตรวจสอบว่าตำแหน่งถัดไปเป็น <div หรือไม่\n  if (!html.substring(startIndex).startsWith('<div')) {\n    return null;\n  }\n  \n  // หา closing tag ของ div ที่ match\n  let divCount = 0;\n  let currentIndex = startIndex;\n  let divEnd = -1;\n  \n  while (currentIndex < html.length) {\n    if (html.substring(currentIndex, currentIndex + 4) === '<div') {\n      divCount++;\n      // ข้ามไปหลัง >\n      while (currentIndex < html.length && html[currentIndex] !== '>') {\n        currentIndex++;\n      }\n      currentIndex++;\n    } else if (html.substring(currentIndex, currentIndex + 6) === '</div>') {\n      divCount--;\n      if (divCount === 0) {\n        divEnd = currentIndex + 6;\n        break;\n      }\n      currentIndex += 6;\n    } else {\n      currentIndex++;\n    }\n  }\n  \n  if (divEnd === -1) return null;\n  \n  return html.substring(startIndex, divEnd);\n}\n\nconst htmlString3 = $input.first().json.data.html;\nconst extractedDiv = findDivAfterH2(htmlString3);\n\nif (extractedDiv) {\n  return [{\n    json: {\n      div: extractedDiv,\n      posion: 'Offlane',\n      ref: $input.first().json.data.url,\n      success: true\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        530
      ],
      "id": "2c368e97-e93a-4a31-8401-256e8e9c0041",
      "name": "Find Importance part Pos 3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:7890/scrape",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "https://dota2protracker.com/meta?mmr=7000&position=pos%2B4&period=8"
            },
            {
              "name": "method",
              "value": "auto"
            },
            {
              "name": "include_html",
              "value": "true"
            },
            {
              "name": "include_links",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        730
      ],
      "id": "9241814e-5886-4ee1-853d-2ef3f7989eec",
      "name": "Pos 4"
    },
    {
      "parameters": {
        "jsCode": "// ===== วิธีที่ 3: หา div แบบ nested-safe =====\nfunction findDivAfterH2(html) {\n  // หา position ของ h2\n  const h2Pattern = /<h2[^>]*>Top Heroes<\\/h2>/;\n  const h2Match = html.match(h2Pattern);\n  \n  if (!h2Match) return null;\n  \n  // เริ่มหาจากตำแหน่งหลัง h2\n  let startIndex = h2Match.index + h2Match[0].length;\n  \n  // ข้าม whitespace\n  while (startIndex < html.length && /\\s/.test(html[startIndex])) {\n    startIndex++;\n  }\n  \n  // ตรวจสอบว่าตำแหน่งถัดไปเป็น <div หรือไม่\n  if (!html.substring(startIndex).startsWith('<div')) {\n    return null;\n  }\n  \n  // หา closing tag ของ div ที่ match\n  let divCount = 0;\n  let currentIndex = startIndex;\n  let divEnd = -1;\n  \n  while (currentIndex < html.length) {\n    if (html.substring(currentIndex, currentIndex + 4) === '<div') {\n      divCount++;\n      // ข้ามไปหลัง >\n      while (currentIndex < html.length && html[currentIndex] !== '>') {\n        currentIndex++;\n      }\n      currentIndex++;\n    } else if (html.substring(currentIndex, currentIndex + 6) === '</div>') {\n      divCount--;\n      if (divCount === 0) {\n        divEnd = currentIndex + 6;\n        break;\n      }\n      currentIndex += 6;\n    } else {\n      currentIndex++;\n    }\n  }\n  \n  if (divEnd === -1) return null;\n  \n  return html.substring(startIndex, divEnd);\n}\n\nconst htmlString3 = $input.first().json.data.html;\nconst extractedDiv = findDivAfterH2(htmlString3);\n\nif (extractedDiv) {\n  return [{\n    json: {\n      div: extractedDiv,\n      posion: 'Support',\n      ref: $input.first().json.data.url,\n      success: true\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        730
      ],
      "id": "93f2f166-f120-4209-81f8-aa062856ec79",
      "name": "Find Importance part Pos 4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:7890/scrape",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "https://dota2protracker.com/meta?mmr=7000&position=pos%2B5&period=8"
            },
            {
              "name": "method",
              "value": "auto"
            },
            {
              "name": "include_html",
              "value": "true"
            },
            {
              "name": "include_links",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        930
      ],
      "id": "f5d372a4-f1cd-403f-a22d-c577160b802e",
      "name": "Pos 5"
    },
    {
      "parameters": {
        "jsCode": "// ===== วิธีที่ 3: หา div แบบ nested-safe =====\nfunction findDivAfterH2(html) {\n  // หา position ของ h2\n  const h2Pattern = /<h2[^>]*>Top Heroes<\\/h2>/;\n  const h2Match = html.match(h2Pattern);\n  \n  if (!h2Match) return null;\n  \n  // เริ่มหาจากตำแหน่งหลัง h2\n  let startIndex = h2Match.index + h2Match[0].length;\n  \n  // ข้าม whitespace\n  while (startIndex < html.length && /\\s/.test(html[startIndex])) {\n    startIndex++;\n  }\n  \n  // ตรวจสอบว่าตำแหน่งถัดไปเป็น <div หรือไม่\n  if (!html.substring(startIndex).startsWith('<div')) {\n    return null;\n  }\n  \n  // หา closing tag ของ div ที่ match\n  let divCount = 0;\n  let currentIndex = startIndex;\n  let divEnd = -1;\n  \n  while (currentIndex < html.length) {\n    if (html.substring(currentIndex, currentIndex + 4) === '<div') {\n      divCount++;\n      // ข้ามไปหลัง >\n      while (currentIndex < html.length && html[currentIndex] !== '>') {\n        currentIndex++;\n      }\n      currentIndex++;\n    } else if (html.substring(currentIndex, currentIndex + 6) === '</div>') {\n      divCount--;\n      if (divCount === 0) {\n        divEnd = currentIndex + 6;\n        break;\n      }\n      currentIndex += 6;\n    } else {\n      currentIndex++;\n    }\n  }\n  \n  if (divEnd === -1) return null;\n  \n  return html.substring(startIndex, divEnd);\n}\n\nconst htmlString3 = $input.first().json.data.html;\nconst extractedDiv = findDivAfterH2(htmlString3);\n\nif (extractedDiv) {\n  return [{\n    json: {\n      div: extractedDiv,\n      posion: 'Hard Support',\n      ref: $input.first().json.data.url,\n      success: true\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        930
      ],
      "id": "688c65f2-a322-4e8c-8b1b-42ccfea1e15c",
      "name": "Find Importance part Pos 5"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        320,
        438
      ],
      "id": "871e7e33-69c5-4a86-a3d5-e1ca3f4e7fbe",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        930
      ],
      "id": "a197c6e7-2dfc-48d1-8900-3092b89695de",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d5f5488-fb97-4f27-947f-1df1ecbae697",
              "name": "data",
              "value": "=**{{ $json.posion }}** \\n\\n{{ $json.data }} \\n\\n 🔗 ลิ้งค์อ้างอิง: {{ $json.ref }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        480
      ],
      "id": "461c467d-c365-4699-b59d-2b748c45a918",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst merged = items.map(item => item.json.data).join('\\n\\n\\n');\n\nreturn [\n  {\n    json: {\n      finaldata: merged\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        480
      ],
      "id": "7dc84cba-4a79-44f6-8990-abef022b2462",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.finaldata }}",
        "options": {
          "systemMessage": "You are a Dota 2 Meta Analysis Assistant.\n\nYour task is to summarize the most popular heroes by position based on real-time data from [https://dota2protracker.com](https://dota2protracker.com). Follow the exact format and instructions below:\n\nWorkflow:\n1. Access each position-specific link to extract up-to-date hero data.\n2. Collect and display the following for each hero:\n   - Hero name\n   - Number of matches\n   - Winrate (%)\n   - Contest rate (%)\n   - Rating\n   - Facet name\n   - Effect (description in English)\n3. Sort heroes by **rating** in descending order.\n4. Display **Top 5–8 heroes per position** using the structure below.\n5. Output in **plain Markdown**, without using HTML or complex layout.\n\nOutput Format:\n🎯 Carry (Position 1)  \n\n🥇 Top Carry Heroes  \n\nHeroName - 1035 matches | 56.6% winrate | 27.4% contest | 3262 rating  \n\nFacet: FacetName  \n\nEffect: Description in English  \n(Repeat for 5–8 heroes)\n\n🧠 Midlane (Position 2)  \n\n🥇 Top Midlane Heroes  \n\n(Use same structure)\n\n🛡️ Offlane (Position 3)  \n\n🥇 Top Offlane Heroes  \n\n(Use same structure)\n\n🧩 Support (Position 4)  \n\n🥇 Top Support Heroes  \n\n(Use same structure)\n\n🛡 Hard Support (Position 5)  \n\n🥇 Top Hard Support Heroes  \n\n(Use same structure)\n\nImportant Rules:\n- Use **plain Markdown** only.\n- Do **not include image syntax** (e.g., no `![]()`).\n- Always extract **live data** from dota2protracker.com.\n- Always **sort by rating (descending)**.\n- Always include **Facet name and Effect**.\n- Always present results in **clean Markdown** (no HTML).\n- Always display **all 5 positions**.\n- No need to provide links in the content to answer.\n\nIf data is not accessible, clearly notify the user and suggest an alternative."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        980,
        480
      ],
      "id": "2f89ba09-d81e-4973-919f-707b186caed1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1068,
        700
      ],
      "id": "0fbda3e7-f929-456f-b4a4-bd2c7c1e5cbf",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "xNJED3juwaq1BWM8",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ต่อข้อความลงท้าย string สุดท้าย\nconst suffix = `\n\n📊 Data Source  \n\nMMR Range: 7000+  \n\nReference Links:  \n- [Carry Meta](https://dota2protracker.com/meta?mmr=7000&position=pos%2B1&period=8)  \n- [Midlane Meta](https://dota2protracker.com/meta?mmr=7000&position=pos%2B2&period=8)  \n- [Offlane Meta](https://dota2protracker.com/meta?mmr=7000&position=pos%2B3&period=8)  \n- [Support Meta](https://dota2protracker.com/meta?mmr=7000&position=pos%2B4&period=8)  \n- [Hard Support Meta](https://dota2protracker.com/meta?mmr=7000&position=pos%2B5&period=8)\n`;\nconst fullText = $input.first().json.output + suffix;\n\n// ฟังก์ชันสำหรับตัดข้อความไม่ให้เกิน 2000 ตัวอักษร\nfunction splitMessage(text, maxLength = 2000) {\n  const parts = [];\n  let current = 0;\n  while (current < text.length) {\n    parts.push(text.slice(current, current + maxLength));\n    current += maxLength;\n  }\n  return parts;\n}\n\nconst messages = splitMessage(fullText);\n\nreturn messages.map(msg => ({\n  json: {\n    message: msg\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1356,
        480
      ],
      "id": "8f2b669e-0bad-47c1-899a-543c2dcd8156",
      "name": "Rearrange the message Pos "
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1796,
        380
      ],
      "id": "f8dce191-2448-4f82-ad58-617a28e36cea",
      "name": "Discord",
      "webhookId": "b6972927-5962-40cd-a460-4de1a67af9df",
      "credentials": {
        "discordWebhookApi": {
          "id": "eY7DDSWUVOMcm0N2",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10,14,20 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        80
      ],
      "id": "3610c788-4bc6-4c5c-9e81-6feb1ba3d681",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1576,
        480
      ],
      "id": "c28a2c53-7f99-4995-9f28-3ee01c0dca09",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1796,
        580
      ],
      "id": "b5042c2b-ccb8-4389-b8d1-7714ea9222c6"
    }
  ],
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "data": "**Carry** \\n\\n[![Medusa](/static/hero_images_jpg_res/medusa_lg.jpg \"Medusa\") ![](/static/facet_icons/slow.png) Venomous Volley Every 6 attacks, Medusa applies poison to her arrow that briefly reduces movement speed and attack speed. Medusa 1035 matches 56.6% winrate 27.4% contest 3262 rating ](/hero/Medusa \"Medusa D2PT Page\")[![Ursa](/static/hero_images_jpg_res/ursa_lg.jpg \"Ursa\") ![](/static/facet_icons/cooldown.png) Bear Down Debuffs inflicted by Ursa last longer. Ursa 1307 matches 53.6% winrate 41.4% contest 3166 rating ](/hero/Ursa \"Ursa D2PT Page\")[![Spectre](/static/hero_images_jpg_res/spectre_lg.jpg \"Spectre\") ![](/static/facet_icons/nuke.png) Twist the Knife Reality also casts Spectral Dagger on the target. Spectre 894 matches 53.8% winrate 20.8% contest 3133 rating ](/hero/Spectre \"Spectre D2PT Page\")[![Shadow Fiend](/static/hero_images_jpg_res/nevermore_lg.jpg \"Shadow Fiend\") ![](/static/facet_icons/armor_broken.png) Lasting Presence Presence of the Dark Lord temporarily reduces more armor after nearby enemy heroes are killed. Every hero kill increases Necromastery's max souls by 1 until Shadow Fiend dies. Shadow Fiend 651 matches 55.3% winrate 27.9% contest 3133 rating ](/hero/Shadow Fiend \"Shadow Fiend D2PT Page\")[![Juggernaut](/static/hero_images_jpg_res/juggernaut_lg.jpg \"Juggernaut\") ![](/static/facet_icons/agility.png) Bladeform Juggernaut gains Agility and Movement Speed as long as he's not taking damage. Juggernaut 685 matches 53.1% winrate 23.2% contest 3083 rating ](/hero/Juggernaut \"Juggernaut D2PT Page\") \\n\\n 🔗 ลิ้งค์อ้างอิง: https://dota2protracker.com/meta?mmr=7000&position=pos%2B1&period=8"
        }
      },
      {
        "json": {
          "data": "**Midlane** \\n\\n[![Nature's Prophet](/static/hero_images_jpg_res/furion_lg.jpg \"Nature's Prophet\") ![](/static/facet_icons/healing.png) Soothing Saplings After Sprout is cast, all trees in a 1200 radius heal nearby allies. Nature's Prophet 519 matches 62.8% winrate 62.1% contest 3250 rating ](/hero/Nature's Prophet \"Nature's Prophet D2PT Page\")[![Queen of Pain](/static/hero_images_jpg_res/queenofpain_lg.jpg \"Queen of Pain\") ![](/static/facet_icons/twin_hearts.png) Bondage Queen of Pain returns spell damage back to enemies. Succubus's Spell Lifesteal also applies to Pure & Magical reflected damage. Queen of Pain 975 matches 56.1% winrate 48.7% contest 3247 rating ](/hero/Queen of Pain \"Queen of Pain D2PT Page\")[![Puck](/static/hero_images_jpg_res/puck_lg.jpg \"Puck\") ![](/static/facet_icons/movement.png) Jostling Rift Waning Rift can push or pull targets. Puck 1976 matches 53.5% winrate 43.3% contest 3211 rating ](/hero/Puck \"Puck D2PT Page\")[![Huskar](/static/hero_images_jpg_res/huskar_lg.jpg \"Huskar\") ![](/static/facet_icons/damage.png) Incendiary Burning Spears also burns enemies for a percentage of their max health. Costs Max Health instead of Current Health. Huskar 540 matches 54.4% winrate 44.5% contest 3086 rating ](/hero/Huskar \"Huskar D2PT Page\")[![Outworld Destroyer](/static/hero_images_jpg_res/obsidian_destroyer_lg.jpg \"Outworld Destroyer\") ![](/static/facet_icons/mana.png) Obsidian Decimator When Essence Flux restores mana, it also temporarily increases maximum mana. Outworld Destroyer 629 matches 51.8% winrate 25.7% contest 3048 rating ](/hero/Outworld Destroyer \"Outworld Destroyer D2PT Page\") \\n\\n 🔗 ลิ้งค์อ้างอิง: https://dota2protracker.com/meta?mmr=7000&position=pos%2B2&period=8"
        }
      },
      {
        "json": {
          "data": "**Offlane** \\n\\n[![Vengeful Spirit](/static/hero_images_jpg_res/vengefulspirit_lg.jpg \"Vengeful Spirit\") ![](/static/facet_icons/fist.png) Soul Strike Vengeful Spirit's ranged attacks behave as if they were melee attacks. Vengeful Spirit 1063 matches 55.8% winrate 38.2% contest 3238 rating ](/hero/Vengeful Spirit \"Vengeful Spirit D2PT Page\")[![Axe](/static/hero_images_jpg_res/axe_lg.jpg \"Axe\") ![](/static/facet_icons/strength.png) One Man Army Axe gains Strength based on his armor as long as he's away from his allies. Axe 1623 matches 53.7% winrate 48.0% contest 3214 rating ](/hero/Axe \"Axe D2PT Page\")[![Legion Commander](/static/hero_images_jpg_res/legion_commander_lg.jpg \"Legion Commander\") ![](/static/facet_icons/damage.png) Spoils of War When a Duel is won, units that damaged the loser during the Duel will gain permanent bonus damage. If Legion Commander won the Duel, she will automatically cast Press the Attack on herself and assisting allies. Legion Commander 516 matches 55.6% winrate 37.2% contest 3107 rating ](/hero/Legion Commander \"Legion Commander D2PT Page\")[![Legion Commander](/static/hero_images_jpg_res/legion_commander_lg.jpg \"Legion Commander\") ![](/static/facet_icons/armor.png) Stonehall Plate Overwhelming Odds grants an all damage barrier based on the damage it deals to enemy heroes. Legion Commander 1320 matches 51.9% winrate 37.2% contest 3100 rating ](/hero/Legion Commander \"Legion Commander D2PT Page\")[![Dawnbreaker](/static/hero_images_jpg_res/dawnbreaker_lg.jpg \"Dawnbreaker\") ![](/static/facet_icons/cooldown.png) Solar Charged Whenever Dawnbreaker hits a target with a powered up Luminosity, she decreases the cooldowns of all of her abilities. Dawnbreaker 1053 matches 53.1% winrate 26.0% contest 3100 rating ](/hero/Dawnbreaker \"Dawnbreaker D2PT Page\") \\n\\n 🔗 ลิ้งค์อ้างอิง: https://dota2protracker.com/meta?mmr=7000&position=pos%2B3&period=8"
        }
      },
      {
        "json": {
          "data": "**Support** \\n\\n[![Spirit Breaker](/static/hero_images_jpg_res/spirit_breaker_lg.jpg \"Spirit Breaker\") ![](/static/facet_icons/speed.png) Bull Rush Charge of Darkness bonus movement speed lingers after charge ends. Spirit Breaker 935 matches 53.6% winrate 18.4% contest 3111 rating ](/hero/Spirit Breaker \"Spirit Breaker D2PT Page\")[![Shadow Shaman](/static/hero_images_jpg_res/shadow_shaman_lg.jpg \"Shadow Shaman\") ![](/static/facet_icons/snake.png) Massive Serpent Ward Summons a single massive Serpent Ward with 12x damage and 10x health and bounty values. Shadow Shaman 656 matches 54.4% winrate 61.6% contest 3103 rating ](/hero/Shadow Shaman \"Shadow Shaman D2PT Page\")[![Nature's Prophet](/static/hero_images_jpg_res/furion_lg.jpg \"Nature's Prophet\") ![](/static/facet_icons/healing.png) Soothing Saplings After Sprout is cast, all trees in a 1200 radius heal nearby allies. Nature's Prophet 1419 matches 51.8% winrate 62.1% contest 3093 rating ](/hero/Nature's Prophet \"Nature's Prophet D2PT Page\")[![Shadow Shaman](/static/hero_images_jpg_res/shadow_shaman_lg.jpg \"Shadow Shaman\") ![](/static/facet_icons/chicken.png) Chicken Fingers Shadow Shaman's attacks can transform enemies into a chicken. Shadow Shaman 794 matches 53.5% winrate 61.6% contest 3090 rating ](/hero/Shadow Shaman \"Shadow Shaman D2PT Page\")[![Lion](/static/hero_images_jpg_res/lion_lg.jpg \"Lion\") ![](/static/facet_icons/nuke.png) Essence Eater Mana Drain deals damage equal to 100% of mana stolen. Lion 741 matches 52.1% winrate 43.7% contest 3050 rating ](/hero/Lion \"Lion D2PT Page\") \\n\\n 🔗 ลิ้งค์อ้างอิง: https://dota2protracker.com/meta?mmr=7000&position=pos%2B4&period=8"
        }
      },
      {
        "json": {
          "data": "**Hard Support** \\n\\n[![Disruptor](/static/hero_images_jpg_res/disruptor_lg.jpg \"Disruptor\") ![](/static/facet_icons/area_of_effect.png) Thunderstorm Thunder Strike additionally hits all enemies within Kinetic Field. Thunder Strike Slow duration is doubled. Disruptor 1174 matches 54.6% winrate 25.3% contest 3205 rating ](/hero/Disruptor \"Disruptor D2PT Page\")[![Silencer](/static/hero_images_jpg_res/silencer_lg.jpg \"Silencer\") ![](/static/facet_icons/debuff.png) Suffer In Silence Silencer takes less damage from and deals more damage to silenced targets. Silencer 1259 matches 53.1% winrate 46.2% contest 3142 rating ](/hero/Silencer \"Silencer D2PT Page\")[![Undying](/static/hero_images_jpg_res/undying_lg.jpg \"Undying\") ![](/static/facet_icons/summons.png) Rotting Mitts While transformed into a Flesh Golem, attacks spawn a zombie. Undying 1020 matches 53.6% winrate 38.1% contest 3128 rating ](/hero/Undying \"Undying D2PT Page\")[![Shadow Shaman](/static/hero_images_jpg_res/shadow_shaman_lg.jpg \"Shadow Shaman\") ![](/static/facet_icons/snake.png) Massive Serpent Ward Summons a single massive Serpent Ward with 12x damage and 10x health and bounty values. Shadow Shaman 712 matches 54.6% winrate 61.6% contest 3123 rating ](/hero/Shadow Shaman \"Shadow Shaman D2PT Page\")[![Shadow Shaman](/static/hero_images_jpg_res/shadow_shaman_lg.jpg \"Shadow Shaman\") ![](/static/facet_icons/chicken.png) Chicken Fingers Shadow Shaman's attacks can transform enemies into a chicken. Shadow Shaman 1189 matches 52.4% winrate 61.6% contest 3094 rating ](/hero/Shadow Shaman \"Shadow Shaman D2PT Page\") \\n\\n 🔗 ลิ้งค์อ้างอิง: https://dota2protracker.com/meta?mmr=7000&position=pos%2B5&period=8"
        }
      }
    ]
  },
  "connections": {
    "HTML TO MARK Pos 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML TO MARK Pos 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTML TO MARK Pos 3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTML TO MARK Pos 4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "HTML TO MARK Pos 5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Find Importance part Pos 1": {
      "main": [
        [
          {
            "node": "HTML TO MARK Pos 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pos 1": {
      "main": [
        [
          {
            "node": "Find Importance part Pos 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Importance part Pos 2": {
      "main": [
        [
          {
            "node": "HTML TO MARK Pos 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pos 2": {
      "main": [
        [
          {
            "node": "Find Importance part Pos 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pos 3": {
      "main": [
        [
          {
            "node": "Find Importance part Pos 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Importance part Pos 3": {
      "main": [
        [
          {
            "node": "HTML TO MARK Pos 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pos 4": {
      "main": [
        [
          {
            "node": "Find Importance part Pos 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Importance part Pos 4": {
      "main": [
        [
          {
            "node": "HTML TO MARK Pos 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pos 5": {
      "main": [
        [
          {
            "node": "Find Importance part Pos 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Importance part Pos 5": {
      "main": [
        [
          {
            "node": "HTML TO MARK Pos 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Pos 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pos 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pos 4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pos 5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pos 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Rearrange the message Pos ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Rearrange the message Pos ": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Pos 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pos 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pos 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pos 4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pos 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "43cedb85-41a1-4cfd-ae98-bf43c87a7d5a",
  "meta": {
    "instanceId": "5b31857f7d08120faafcdd926d671fca000c72140c4dcb1e24d490c2488973b8"
  },
  "id": "4eACcPQiZys4Hu1U",
  "tags": []
}